header {
    background: url("images/skySea.jpg");
    background-size: cover;
}
h1 {
    font-size: 40px;
    color: black;
    text-align:center;
}
h2 {
    text-align: center;
}
.li {
    color: white;
    text-align: center;
    display: inline;
    padding: 0px 10px 0px 10px;
  }
ul {
    color: white;
    display: inline;
    padding: 0px 10px 0px 10px;
    background-color: rgba(5,5,5,0.50);
    text-align: center;
}
ol {
    color: black;
    text-align: center;
}
body {
    background-color: rgb(75, 178, 252);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom:0px;
    margin-left: 0px;
}
a {
}
p {
    text-align: center;
}
